/* Simple CSS reset */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-weight: normal;
 font-size: 16px;
}

body {
 padding: 40px;
 font-family: Georgia, Times, serif;
 color: #353535;
}

/* Text styles */
h1, h2, h3, h4, h5, h6 {
 margin: 10px 0;
 font-family: Helvetica, Arial, sans-serif;
 font-weight: bold;
}

h1 {
 font-size: 3em;
}

h2 {
 font-size: 2em;
}

h3 {
 font-size: 1.5em;
 letter-spacing: -1px;
 word-spacing: 10px;
 text-align: center;
}

blockquote {
 margin: 0 0 30px;
 font-style: italic;
 text-indent: 80px;
 line-height: 1.3;
 text-decoration: line-through;
}

em {
 text-transform: capitalize;
}

strong {
 text-transform: uppercase;
 font-weight: bold;
}

a {
 color: #3ca;
 text-decoration: none;
}

code {
 display: block;
 color: #e96c28;
 background: white;
 padding: 5px;
}

/* Borders */
.border-box {
 background: #eee;
 margin: 0 0 20px;
 padding: 20px;
 width: 300px;
}

#box-1 {
 border: 1px solid black;
}

#box-2 {
 border: 1px dashed black;
}

#box-3 {
 border: 1px dotted black;
}

#box-4 {
 border: 3px double black;
}

#box-5 {
 border: 4px solid black;
}

#box-6 {
 border: 4px dashed black;
}

#box-7 {
 border: 4px dotted black;
}

#box-8 {
 border: 6px double black;
}

/* Background images */

.background-example {
 height: 200px;
 width: 200px;
 border: 1px solid black;
}

#background-1 {
 background-image: url("images/blue_background.jpg");
}

#background-2 {
 background-color: #a3d;
}

#background-3 {
 background-image: url("images/steak_background.jpg");
 background-repeat: no-repeat;
 background-position: center center;
}

#background-4 {
 background: url("images/skull_background.jpg") bottom left repeat-x;
}

/* Forms */

#container {
 width: 500px;
 margin: 0 auto;
}

form {
 background-image: url("images/red_background.jpg");
 padding: 20px;
 font-family: Helvetica, Arial, sans-serif;
}

form fieldset {
 background-image: url("./images/blue_background.jpg");
 padding: 40px;
 border: 1px solid white;
}

form legend {
 border: 1px solid #333;
 background-image: url("images/blue_background.jpg");
 padding: 5px;
 font-size: 30px;
 font-weight: bold;
}

form input, form textarea {
 display: block;
 margin-bottom: 20px;
 -webkit-font-smoothing: antialiased;
 text-rendering: optimizeLegibility;
}

form label {
 font-size: 13px;
 text-transform: uppercase;
}

form input[type="text"], form input[type="email"], form textarea {
 padding: 10px;
 font-size: 20px;
 font-family: Helvetica, Arial, sans-serif;
 color: white;
 border: 1px solid #b90707;
 background-image: url("images/red_background.jpg");
}

form textarea {
 width: 300px;
 height: 100px;
}

form input[type="submit"]{
 border: none;
 background: url("images/button_background.jpg") top left repeat-x;
 height: 40px;
 padding: 0 20px;
 border: 1px solid #d4730c;
 color: white;
 font-weight: bold;
 font-family: Helvetica, Arial, sans-serif;
 cursor: pointer;
}

