/* Simple CSS REset */
* {
 margin: 0;
 padding: 0;
}

body {
 background: #adb195 url("./IMG/green_background.jpg") top left repeat;
 color: #75480a;
 font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
 font-size: 14px;
}

/* Layout */

#logo {
 display: block;
 width: 200px;
 margin: 40px auto;
 background: none;
}

#container {
 width: 760px;
 margin: 0 auto;
 padding: 40px;
 background: url("./IMG/yellow_background.jpg") top left repeat;
}

#container:after {
 content: " ";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}

#main-content {
 width: 500px;
 float: left;
}

#sidebar {
 background: url("./IMG/texture_background.jpg")top left repeat;
 width: 200px;
 float: left;
 padding: 20px 20px 0;
 margin: 0 0 0 20px;
}

#sidebar h3 {
 background: url("./IMG/green_background.jpg") top left repeat;
 padding: 10px 10px 10px 30px;
 margin: 0 0 5px;
 color: white;
 position: relative;
 left: -30px;
}

#sidebar .widget {
 margin: 0 0 20px;
}

#sidebar a {
 display: inline-block;
}

#special-offer {
 position: relative;
 background: url("./IMG/red_background.jpg") top left repeat;
 color: white;
 padding: 0 20px 20px;
 margin: 60px 0 0 0;
}

#special-offer h2 {
 font-size: 22px;
 background: url("./IMG/green_background.jpg") top left repeat;
 padding: 5px;
 display: inline;
 position: relative;
 top: -15px;
 left: -35px;
}

#steak {
 position: absolute;
 bottom: -20px;
 right: 10px;
}

/* Typography */

h1, h2, h3 {
 font-family: "Ariel Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
 font-weight: normal;
}

h1 {
 font-size: 40px;
}

p.lead {
 font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
 font-size: 18px;
 margin: 0 0 30px;
}

address ul {
 list-style: none;
}

a:link {
 background: #577a1b;
 color: white;
 text-decoration: none;
 font-weight: bold;
 padding: 5px;
}