body {
 font-family: Helvetica;
 background-color: #eee;
 color: #333;
}

h1 {
 font-size: 50px;
 margin: 0;
}

p {
 font-style: italic;
}

h2 {
 color: #555;
 border-top: 1px solid #333;
}

ol {
 border-bottom: 1px solid #333;
}