body {
 background: #333;
 font-family: Georgia, Times, serif;
 color: #fff;
 font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
 font-family: Helvetica, Arial, sans-serif;
 color: #ffcc33;
}

h1 {
 border: 1px dashed #ffcc33;
 background: #000;
 font-size: 2em;
 padding: 10px;
}

ol {
 border: 4px solid #bce3ed;
 background: #33bcde;
 padding: 20px 20px 20px 40px;
 margin: 5% 0;
}

a {
 color: #ffcc33;
}

strong {
 color: pink;
}